.logoclock * {
  margin: 20px 5px;
}

.logoclock {
  padding: 0;
  margin-left: 70px;
  color: #00a8db;
  font-family: "Times New Roman", Times, serif;
  padding: 1px; /* Расстояние от текста до рамки */
  border-radius: 10px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
}

.logoclock h6 {
  margin: 0%;
  padding: 0;
  color: #3cccf8;
  font-family: "Times New Roman", Times, serif;
}

.clock {
  font-size: 18px;
  margin: 0%;
  padding: 0%;
  pointer-events: none;
}
